<form action="http://localhost:3000/new" method="post">
    <h1>Message</h1>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user">
    </div>
    <div>
        <label for="message">Message:</label>
        <input type="text" id="message" name="text">
    </div>
    <button type="submit">Submit</button>
</form>